<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/ed0a47be-3460-4b6a-9480-e41cc8b26eed/resourceGroups/backendDenemeDeploy/providers/Microsoft.Web/sites/ibrahimBackend</ResourceId>
    <ResourceGroup>backendDenemeDeploy</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://ibrahimbackend.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://ibrahimbackend.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$ibrahimBackend</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>